<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, maxime consequatur. Nam unde
    cumque deserunt magnam. Beatae quia suscipit libero id ex expedita ab doloribus dicta. Maiores
    vel alias fugit.
  </p>
</main>
