<main>
  <h1>Saisie référence</h1>
  <form>
    <label>
      <div>Libéllé du produit</div>
      <input type="text" />
    </label>
    <label>
      <div>Catégorie</div>
      <input type="text" />
    </label>
    <label>
      <div>Prix d'achat</div>
      <input type="text" />
    </label>
    <label>
      <div>Quantité</div>
      <input type="text" />
    </label>
    <div class="buttons">
      <button type="button">Annuler</button>
      <button type="button">Ajouter</button>
    </div>
  </form>
</main>
