:host {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  padding: 0 0.5em;
}

main {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0.5em 0;
  width: 19em;
}
