/* You can add global styles to this file, and also import other style files */

@import '../node_modules/normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  @media screen and (min-width: 1200px) {
    font-size: 1.5vw;
  }
}

main {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 40em;
  min-width: 19em;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: underline;
  }
}

button {
  border: 0.1em solid #eee;
  background: #eee;
  padding: 0.5em 1em;

  &:not(:disabled) {
    cursor: pointer;
    &:hover {
      border-color: #ddd;
      background: #ddd;
    }
    &:active {
      border-color: #ccc;
      background: #ccc;
    }

    &.primary {
      border-color: #333;
      background: #333;
      color: white;
      &:hover {
        border-color: #444;
        background: #444;
      }
      &:active {
        border-color: #555;
        background: #555;
      }
    }
  }
}

input {
  width: 100%;
  border: 0.1em solid #ccc;
  padding: 0.5em 1em;
}
